# SPDX-License-Identifier: GPL-2.0-or-later

#
# TL Embedded, Aphid debugger
# https://github.com/TL-Embedded/Aphid-HW
#

adapter driver ftdi

ftdi device_desc "Aphid Debugger"
ftdi vid_pid 0x0403 0x6010
ftdi channel 0

ftdi layout_init 0x0020 0x0303
ftdi layout_signal nSRST -ndata 0x0200
ftdi layout_signal SWDIO_OE -data 0x0100
ftdi layout_signal SWD_EN -data 0

reset_config srst_only srst_push_pull
transport select swd